---
title: Everything Wrong with Material 3 Expressive
description: It's like if you took Material 3 and made it less expressive.
date: 2025-09-09
updated: 2025-09-17
link: /posts/everything-wrong-with-m3e
keywords: android, design, google
---

<script>
  import Img from '../components/Image.svelte'
</script>

## Context

<Img source="https://design.google/library/expressive-material-design-google-research" alt="">
  <enhanced:img loading="lazy" src="./m3e-header.webp">
</Img>

The Material Design team at Google unveiled [Material 3 Expressive](https://design.google/library/expressive-material-design-google-research) a few months ago, which they claimed to be _"Better, Easier, Emotional UX"_. It came along with a pretty cool<sup>1</sup> looking trailer showing off redesigns for commonplace apps with crazy new designs.

The new design system supposedly had a lot of research poured into it to help users identify key actions and content significantly quicker, and reduce information overload.

It's been many months, and the "bold" new design has rolled out to **Android** and all the Google apps.

## Not very different

The main places updated with the new design language are:

- System & other Google apps
- Android system UI

It's not quite an insane overhaul, but there are a few big differences:

- Blur is used occasionally
- New slider design
- A few components are animated more
- In apps, most items in lists are now containerized

<Img title="Ehhhh" alt="" class="w-3xs">
  <enhanced:img loading="lazy" src="./android-system-ui.webp">
</Img>

## Questionable designs

After a while of using the system with this new design, I started to notice a few things that seem out of place or straight up look bad.

For example, the blur. The tinted panel with a tiny blur radius just ain't it. There's also the mixed border radii (which you can see on the quick setting toggles) which look rather odd.

Then I started noticing major inconsistencies between apps. The phone & contacts colors are strangely swapped, some layout margins are completely wrong, padding is off, and some animations are just gone.

I have decided to compile every tiny little thing I've noticed into a list.

### Phone & contacts

<div class="flex flex-wrap flex-row justify-between mx-auto">
  <Img class="w-3xs">
    <enhanced:img loading="lazy" src="./phone-main-diff.webp" />
  </Img>
  <Img class="w-3xs">
    <enhanced:img loading="lazy" src="./contacts-main-diff.webp" />
  </Img>
</div>

You don't even need to pixel peep to see the amount of inconsistency! That's a lot of differences for two apps that are linked very closely.

- Colors of list items are different.
- Colors of the navbars are different.
- Colors of the search bar are different. For both, they are different than the list items too.
- Size of the navbar is different. The size of the selected pills are different too!
- Size of the search bars are different.
- The padding difference is excusable because call items don't need to be as compact.

Additionally, none of the new "expressive" components are used in either.

The animation between the phone app now has a lateral transition, [discouraged by Google's own guidelines.](https://m3.material.io/styles/motion/transitions/applying-transitions#98deff91-7469-4647-abdc-2f6562b98d93)

### Calculator

The calculator got absolutely butchered in its update. In its glory days, before the update, it looked like this:

<Img class="w-3xs">
  <enhanced:img loading="lazy" src="./calculator-old.webp" />
</Img>

I honestly considered this great use of the Material 3 design system beforehand. It used a lot of the available color palette, the buttons were padded and separated nicely, the number entry field was distinguished well, and there were nice subtle animations.

Here is it now, with the ultra mega super expressive expressed feeling emotional new UX:

---

Actually, wait. Before I installed the update, I spotted this in the release notes:

<Img>
  <enhanced:img loading="lazy" src="./calculator-typo.webp" />
</Img>

Oops.

---

The _Great Butchering_ turned the calculator into this:

<Img class="w-3xs">
  <enhanced:img loading="lazy" src="./calculator-garbage.webp" />
</Img>

<p class="animate-bounce block">What?</p>

In summary: the _"expressive"_ update to the calculator has brought:

- Strange padding.
- _Very very slightly_ imperfect circles.
- Removal of `sqrt`, Pi, exponents, factorial, etc without expanding.
- Less distinction between the number input.

That isn't even the worst part! Look at how the buttons shift when you press "invert":

<Img title="Look closely at the advanced functions." class="w-3xs">
  <img loading="lazy" src="./calculator-animation.webp" />
</Img>

Somehow, the buttons were made in such a way that they are not automatically aligned or sized correctly. They shift when you press "invert", and not even in a consistent way.

- `sqrt` becomes a slightly wider 𝑥<sup>2</sup>
- Pi through the degrees/radians toggle are fine
- Sine and cosine shift to the left slightly. Tangent becomes slightly wider
- e<sup>𝑥</sup> shifts to the left. Both its non-inverted and inverted versions are offset incorrectly.

<p class="animate-bounce block">How does this even happen?</p>

### Clock

Okay, we're starting off not nearly as bad as the calculator. It at least looks like there was an attempt.

<Img class="w-3xs">
  <img loading="lazy" src="./clock.webp" />
</Img>

The padding of the locations is not the same for the top and bottom, and the font of the navbar isn't correct--or is it? I don't even know what the correct variables are, they have been completely disregarded everywhere.

Fun fact, the stopwatch is scrollable even though it shouldn't need to be. They allocated way too much space for the duration. To make it less expressive, all animations were removed as well.

<Img class="w-3xs">
  <img loading="lazy" src="./clock-scroll-stopwatch.webp" />
</Img>

Every one of these apps has to have some weird layout bug. The clock is no exception here.

In the "World Clock" view, the layout shifts every second.

<Img class="w-3xs">
  <img loading="lazy" src="./clock-animation.webp">
</Img>

It seems that even though the stopwatch was assigned a fixed height (too much), it was not done for the world clock. As the font dynamically resizes (for some reason), every other element in the page moves. This is painfully easy to spot.

## Things I think Look Like Buns™

This section will be all subjective rather than "objective" design mistakes. Things that I think look terrible.

### The quick settings

<Img alt="" class="w-3xs">
  <enhanced:img loading="lazy" src="./android-system-ui.webp">
</Img>

This image from before is what the quick setting/notification panel looks like.

- I actually _really like_ the animations and bounciness of the notifications. It's probably the best part of this entire redesign. Now, here's what I don't like.
- What is going on with the quick settings buttons? The icons are massive. It doesn't look good when the active items are squared.
- The designers _still_ insist on a separate color for the notifications panel and the quick settings. Please just give up on it. This tinted, not frosted, weirdly small blur radius looks amateur. At the very least bump up the blur radius, please.
- What are these new icons? They're iOS-esque, which isn't bad, per se, but I liked the old ones more.

### The app drawer

<Img alt="" class="w-3xs">
  <enhanced:img loading="lazy" src="./app-drawer.png">
</Img>

I have similar problems with this as the quick settings.

- The blur radius is too small. This looks quite amateur, like a new CSS designer just discovered `backdrop-filter: blur(16px);`.
- Why is this panel a sheet? The quick settings aren't a sheet. Before, this panel would fade in and only move slightly as you swiped up. Now, it goes all the way from the bottom of the screen, which is a quite unconventional move for most of the UI.
- The animation after swiping horizontally between personal/work isn't bouncy. This is inconsistent with the file picker.

### Dropdown menus

These are in my top 5 for worst material components. Why do these look so janky? They got worse in material 3 expressive when they decided to shift around padding and mess with icons.

_The many popovers of Android_

<div class="flex flex-row gap-2 flex-wrap justify-items-center items-center mx-auto *:*:max-w-64">
  <Img alt="">
    <enhanced:img loading="lazy" src="./selects/select-menus1.png">
  </Img>
  <Img alt="">
    <enhanced:img loading="lazy" src="./selects/select-menus2.png">
  </Img>
  <Img alt="">
    <enhanced:img loading="lazy" src="./selects/select-menus3.png">
  </Img>
  <Img alt="">
    <enhanced:img loading="lazy" src="./selects/select-menus4.png">
  </Img>
  <Img alt="">
    <enhanced:img loading="lazy" src="./selects/select-menus5.png">
  </Img>
  <Img alt="">
    <enhanced:img loading="lazy" src="./selects/select-menus6.png">
  </Img>
</div>

This is insanity.

## Conclusion

<div class="flex flex-wrap flex-row justify-between mx-auto items-center gap-2">
  <Img class="w-64 max-sm:w-full" title="Expectation">
    <enhanced:img src="./expectation.jpg" />
  </Img>
  <Img class="w-3xs" title="Versus reality">
    <enhanced:img src="./reality.png" />
  </Img>
</div>

Material 3 Expressive was supposed to be unique in that apps would look all different and unique while still following a "design system", compared to Material 3 which encouraged identical looking apps.

I think for the native apps, they made them unique in the wrong ways.

I feel like this minor design system update was way overhyped, people going as far to say it will "kill" Apple's liquid glass _(they aren't really competing...most consumers don't care what "design system" their phone uses)_.

I'll admit that I'm a bit biased because I like Apple's liquid glass design more, but I feel like I'm justified in that opinion--they at least implemented their design system well and consistently.
