---
title: Xfinity's Port Forwarding
description: I have never before seen a more infuriating network management experience.
date: 2025-08-15
link: /posts/comcast-crashout
keywords: network, router, internet, port forward
---

# the beginning

_Because I need to put something in this blog setup I worked hard on, this post is adapted from a [comment I made on Lemmy](https://lemmy.world/post/33717417/18538971)_

Does anyone actually like Comcast? I feel like absolutely 0 consumers, no matter the political background, technical knowledge, etc enjoy the Comcast experience.

My most recent Comcast crashout™️ was how their router does port forwarding.

1. You have to pay an extra fee per month to get more than 1TB monthly data usage **(crazy)**

2. You can't change the default DNS server **(annoying)**

3. I had this random issue where the gateway would randomly force clients to be ipv6 only, and sometimes ipv4 only. **_(Diabolical)_**

But their port forwarding was _the worst_.

I, as an advanced user, go to the admin panel. **Everybody** who knows what on earth port forwarding is, and why they'd want to do it would use _this_ admin panel.

I go to the _"advanced"_ section. I then wait 5 seconds for their god awful panel to load. I click _"port forwarding"_. While I wait, I reflect on the fact that this panel **has a 6mb JavaScript bundle for absolutely no reason**. And then, the page loads.

## the message

> Port forwarding has been moved to the My xFi page -- `insert link here` -- manage your router easier than ever!

I DONT WANT EASIER THAN EVER!!!! I AM PORT FORWARDING. I AM NOT A 79 YEAR OLD GRANDPA WHO DESPERATELY NEEDS AN APP TO HELP RESTART THE WIFI.

Whatever. I go to the page, log in to the _mandatory_ account that I shouldn't need, _(because a router should be independent of external identification services)_. After I log in and download the 8-gigabyte JavaScript bundle, a new page appears.

## the message (this time it's different I swear)

> "Download the xFi app for easier access".

I HAVE TO PULL OUT MY PHONE AND DOWNLOAD SOME RANDOM APP FOR _"EASY ACCESS"_ TO A FEATURE THAT **ONLY PEOPLE WHO DONT CARE ABOUT EASE OF ACCESS** WOULD USE!

I download the app. I log in. Get redirected to a WebView. I log in _again_. Finally!

Wow, this is the most atrocious app I've ever seen. No dark theme, probably not native Kotlin or Java or anything. The backstack makes no sense, some pages will exit out of two simultaneously.

I finally find the port forwarding page. I click _"Add a port forward"_.

## the port forward

Instead of forwarding to an IP address, you have to select from a list of **NAMED** devices. My router won't detect the hostname of my home server, and the router won't let me give it a new IP address.

I desperately try and fix that, but it turns out the list updates on a fixed timer of **2 minutes**, and then it suddenly appears.

I click "_Add port forward_" again, and select my home server. I added port `443`. Suddenly, the router seems to reboot completely, which was strange. After it finally reboots, I add port `222`. **IT REBOOTS AGAIN! THIS APP MANUALLY REBOOTS THE ROUTER FOR EVERY SINGLE CHANGE MADE TO PORT FORWARDS!**

Luckily, those were the only ports I planned to port forward.

Later while debugging this terrible router, it turns out FOR SOME REASON OTHER LESS ADVANCED OPTIONS ARE AVAILABLE HERE! I CAN MANAGE UPNP, DMZ ZONES, WHAT IS HAPPENING

Thank you for reading my rant. I needed to scream into the void about this.

What's funny is later on, I just gave up on this router's port forwards and started to use Cloudflare tunnels, nullifying the need for port forwarding. Maybe I should just go completely IPv6 too.
